# Dependencies
**/node_modules
**/.pnp
.pnp.*

# Build outputs
**/dist
**/.next
**/out
**/build

# Environment variables
**/.env
**/.env.local
**/.env.production

# Prisma
**/generated
**/prisma/migrations

# Debug and Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Vercel and IDEs
.vercel
.vscode
.idea
